@page
@model YmmcContainerTrackerApi.Pages_ReturnableContainers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Returnable Containers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.ItemNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.ItemNo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.PackingCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.PackingCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.PrefixCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.PrefixCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.ContainerNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.ContainerNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.OutsideLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.OutsideLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.OutsideWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.OutsideWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.OutsideHeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.OutsideHeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.CollapsedHeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.CollapsedHeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.PackQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.PackQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnableContainers.AlternateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnableContainers.AlternateId)
        </dd>
    </dl>
</div>
<div>
    @* ONLY SHOW EDIT LINK IF USER CAN EDIT *@
    @if (Model.CanEdit)
    {
        <a asp-page="./Edit" asp-route-id="@Model.ReturnableContainers.ItemNo" class="btn btn-primary">Edit</a>
        <span class="text-muted">|</span>
    }
    else
    {
        <span class="badge bg-secondary">View Only Mode</span>
        <span class="text-muted">|</span>
    }
    <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
</div>
